<% provide(:title, 'Users page') %>
<h1>Users</h1>
<div class="my-3">
  <%= link_to "Users with datatable", users_all_path %>
</div>
<%= will_paginate :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<%= render @users %>
<br>
<%= will_paginate :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>