// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.debug_dump {
    clear: both;
    float: none;
    width: 90%;
    margin: 45px auto;
    margin-bottom: 70px;
    @include box_sizing;
    font-size: 14px;
    background: #eff;
    border: 2px solid green;
}
.custom-image2{
    margin: 20px 0;
    width: 300px;
}