<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand p-2" href="#">
        Made by sravan
    </a>
  </div>
</nav>